body {
  margin: 5% auto;
  max-width: 73%;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #444;
  /* Background pattern taken from https://uiverse.io/kennyotsu-monochromia/spotty-cheetah-65 */
  background-color: #f3f3f3;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      #e1e1e1 25%,
      #e1e1e1 26%,
      transparent 27%,
      transparent 74%,
      #e1e1e1 75%,
      #e1e1e1 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      #e1e1e1 25%,
      #e1e1e1 26%,
      transparent 27%,
      transparent 74%,
      #e1e1e1 75%,
      #e1e1e1 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

code {
  background: #fff;
}

a {
  color: #444;
  text-decoration: none;
  border-bottom: 1px solid #444;
}

a:hover {
  border-bottom: 0;
}

#calculator {
  max-width: 45%;
  margin: 5% auto;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.68);
  border: 0.3rem solid #000;
  border-radius: 1.5rem;
  backdrop-filter: blur(1px);
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
}

#display {
  border-bottom: 0.2rem solid #f3f3f3;
  color: #f3f3f3;
  text-align: right;
  margin-bottom: 1rem;
}

#lastOperationDisplay {
  font-size: 2rem;
  color: #a5a5a5;
}

#currentOperationDisplay {
  font-size: 3rem;
}

#buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75rem;
}

.special {
  grid-column: span 2;
}

button {
    backdrop-filter: blur(20px);
  padding: 1rem 0;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  font-family: inherit;
  color: #f3f3f3;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

button:active {
  transform: scale(0.95);
}

.digits,
.decimal {
  background-color: rgba(80, 80, 80, 0.7);
}

.operators,
.equal {
  background-color: rgb(255, 157, 10);
}

.allclear,
.clear {
  background-color: #a5a5a5;
  color: #000;
}